{:paths []
 :aliases
 {:dev
  {:extra-paths ["development/src" "components/json-rpc/test"]
   :extra-deps
   {poly/http-server              {:local/root "components/http-server"}
    poly/json-rpc                 {:local/root "components/json-rpc"}
    poly/mcp-server               {:local/root "components/mcp-server"}
    lambdaisland/kaocha           {:mvn/version "1.87.1366"}
    lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}
    org.clojure/clojure           {:mvn/version "1.12.0"}}}
  :test   {:extra-paths ["components/http-server/test"
                         "components/json-rpc/test"
                         "components/mcp-server/test"]
           :extra-deps
           {org.clojure/test.check {:mvn/version "1.1.1"}}
           :exec-fn     kaocha.runner/exec-fn
           :exec-args   {}
           :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                         "-Dclojure.main.report=stderr"]           }
  :kaocha {:extra-paths ["components/json-rpc/test"]
           :extra-deps
           {lambdaisland/kaocha           {:mvn/version "1.91.1392"}
            lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}
            org.clojure/test.check        {:mvn/version "1.1.1"}}
           :exec-fn     kaocha.runner/exec-fn
           :exec-args   {}
           :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                         "-Dclojure.main.report=stderr"]
           :main-opts   ["-m" "kaocha.runner"]}
  }
 }
