{:deps
 {poly/http {:local/root "../../components/http"}
  poly/http-server {:local/root "../../components/http-server"}
  poly/json-rpc {:local/root "../../components/json-rpc"}
  poly/log {:local/root "../../components/log"}
  poly/sse-server {:local/root "../../components/sse-server"}
  poly/tools {:local/root "../../components/tools"}}}
