{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        poly/http-client {:local/root "../http-client"}
        poly/json {:local/root "../json"}}
 :aliases
 {:dev {:extra-paths ["test"]
        :extra-deps {hato/hato {:mvn/version "1.0.0"}}}
  :test {:extra-paths ["test"]
         :extra-deps {hato/hato {:mvn/version "1.0.0"}}}}}
