{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        poly/json-rpc {:local/root "../json-rpc"}
        poly/tools {:local/root "../tools"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {}}}}