{:deps
 {poly/in-memory-transport
  {:local/root "../../components/in-memory-transport"}}

 :aliases
 {:build {:extra-paths ["../../dev"]
          :extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
          :ns-default build
          :exec-fn jar
          :exec-args {:project-name "in-memory-transport"
                      :lib org.hugoduncan/mcp-clj-in-memory-transport
                      :pom-data [[:description "In-memory transport for MCP client-server testing"]
                                 [:url "https://github.com/hugoduncan/mcp-clj"]
                                 [:licenses
                                  [:license
                                   [:name "Eclipse Public License 2.0"]
                                   [:url "https://www.eclipse.org/legal/epl-2.0/"]]]
                                 [:scm
                                  [:url "https://github.com/hugoduncan/mcp-clj"]
                                  [:connection "scm:git:git://github.com/hugoduncan/mcp-clj.git"]
                                  [:developerConnection "scm:git:ssh://git@github.com/hugoduncan/mcp-clj.git"]]]}}
  :deploy {:extra-paths ["../../dev"]
           :extra-deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
                        slipset/deps-deploy {:mvn/version "0.2.2"}}
           :ns-default build
           :exec-fn deploy
           :exec-args {:project-name "in-memory-transport"
                       :lib org.hugoduncan/mcp-clj-in-memory-transport
                       :pom-data [[:description "In-memory transport for MCP client-server testing"]
                                  [:url "https://github.com/hugoduncan/mcp-clj"]
                                  [:licenses
                                   [:license
                                    [:name "Eclipse Public License 2.0"]
                                    [:url "https://www.eclipse.org/legal/epl-2.0/"]]]
                                  [:scm
                                   [:url "https://github.com/hugoduncan/mcp-clj"]
                                   [:connection "scm:git:git://github.com/hugoduncan/mcp-clj.git"]
                                   [:developerConnection "scm:git:ssh://git@github.com/hugoduncan/mcp-clj.git"]]]}}}}
